body{
    background-color: #dde7c7;
    font-family: "Lucida Console", Monaco, monospace;
    color:#216869;
}

h1,h2{
    text-align: center;
}

input[type=submit]{
    background-color: #216869;
    color: #dde7c7;
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 25px;
}
p {
    text-align: center;
}
#welcome {
    padding: 20px;
    width: 50%;
    margin: auto;
}
#logout , .loginform{
    text-align: center;
}
#uploadbutton{
    font-size: 15pt;
    padding: 15px;
}
ul{
    width:50%;
    margin:auto;
}
.redirect{
    text-align:left;
}
